.accounts-list {
  padding: 0 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.accounts-list .card {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.accounts-list .card img {
  width: 80%;
  border-radius: 50%;
}

.accounts-list .card p {
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
}

.accounts-list .card button {
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background: rgb(26, 148, 26);
  color: #eee;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}
