.single-account-page {
  padding: 50px;
}
.single-account-page button {
  display: block;
  margin-bottom: 10px;
  background: none;
  border: solid #333 1px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
}
.single-account-page button:hover {
  filter: invert(100%);
}
.single-account-page .error {
  color: red;
  font-size: 1.2em;
}
.profile .personal-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.profile .personal-details img {
  width: 100%;
}
.profile .personal-details > div {
  padding-left: 20px;
}
.profile .personal-details div {
  text-align: start;
}
.profile .personal-details div h2 {
  margin: 0;
}
.profile .personal-details div .type {
  background: rgb(26, 148, 26);
  padding: 5px;
  border-radius: 5px;
  font-size: 0.6em;
}
.profile .personal-details div .name {
  margin-top: 5px;
}
.profile .personal-details div .github-link {
  text-decoration: none;
  border: solid #eee 1px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
}
.profile .personal-details div .other-content {
  display: flex;
}
.profile .personal-details div .other-content div {
  margin-right: 20px;
}
.profile .personal-details div .other-content div h3 {
  color: #999;
}
.profile .statistics {
  display: flex;
  justify-content: space-around;
}
.profile .statistics .stats-title {
  color: #999;
}
.profile .statistics > div {
  display: flex;
  align-items: center;
}
.profile .statistics > div div {
  margin-right: 10px;
}
.profile .statistics > div .stats-icons {
  width: 50px;
  height: 50px;
}
